apiVersion: v1
kind: Service
metadata:
  name: games-service
  namespace: fiap-cloud-games
  labels:
    app: games
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: games
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

